Attack
Name        Éclair
Type        Electric
Power       40
NbUse       10
Fail        0.07
EndAttack

Attack
Name        Tonnerre
Type        Electric
Power       60
NbUse       5
Fail        0.1
EndAttack

Attack
Name        Charge
Type        Normal
Power       35
NbUse       15
Fail        0.03
EndAttack

Attack
Name        Tacle
Type        Normal
Power       20
NbUse       20
Fail        0.1
EndAttack

Attack
Name        Séisme
Type        Earth
Power       80
NbUse       8
Fail        0.05
EndAttack

Attack
Name        Tunnel
Type        Earth
Power       40
NbUse       15
Fail        0.08
EndAttack

Attack
Name        Flamme
Type        Fire
Power       50
NbUse       12
Fail        0.06
EndAttack

Attack
Name        Rafale Feu
Type        Fire
Power       70
NbUse       7
Fail        0.12
EndAttack

Attack
Name        Piqué
Type        Insect
Power       45
NbUse       10
Fail        0.08
EndAttack

Attack
Name        Toile Gluante
Type        Insect
Power       30
NbUse       15
Fail        0.05
EndAttack

Attack
Name        Hydrocanon
Type        Water
Power       85
NbUse       5
Fail        0.1
EndAttack

Attack
Name        Bulles d'eau
Type        Water
Power       40
NbUse       20
Fail        0.03
EndAttack

Attack
Name        Fouet Lianes
Type        Plant
Power       35
NbUse       15
Fail        0.06
EndAttack

Attack
Name        Tempête Florale
Type        Plant
Power       60
NbUse       8
Fail        0.1
EndAttack

Attack
Name        Rayon Solaire
Type        Nature
Power       70
NbUse       10
Fail        0.08
EndAttack

Attack
Name        Vampigraine
Type        Nature
Power       45
NbUse       12
Fail        0.05
EndAttack
