Monster
Name Bulbizarre
Type Plant
HP 45 65
Speed 45 65
Attack 49 62
Defense 49 62
Cure 0.1
EndMonster

Monster
Name Herbizarre
Type Plant
HP 60 80
Speed 60 80
Attack 62 78
Defense 63 80
Cure 0.12
EndMonster

Monster
Name Florizarre
Type Plant
HP 80 100
Speed 80 100
Attack 82 100
Defense 83 100
Cure 0.14
EndMonster

Monster
Name Salamèche
Type Fire
HP 39 58
Speed 65 85
Attack 52 78
Defense 43 65
Burn 0.15
EndMonster

Monster
Name Reptincel
Type Fire
HP 58 78
Speed 80 100
Attack 78 98
Defense 62 80
Burn 0.18
EndMonster

Monster
Name Dracaufeu
Type Fire
HP 78 98
Speed 100 120
Attack 84 104
Defense 78 98
Burn 0.25
EndMonster

Monster
Name Carapuce
Type Water
HP 44 65
Speed 43 58
Attack 48 65
Defense 65 82
Flood 0.1
Fall 0.01
EndMonster

Monster
Name Carabaffe
Type Water
HP 59 79
Speed 58 78
Attack 63 80
Defense 80 97
Flood 0.12
Fall 0.02
EndMonster

Monster
Name Tortank
Type Water
HP 79 99
Speed 78 98
Attack 85 105
Defense 100 120
Flood 0.18
Fall 0.03
EndMonster

Monster
Name Pikachu
Type Electric
HP 35 55
Speed 90 110
Attack 55 80
Defense 30 50
Paralysis 0.2
EndMonster

Monster
Name Raichu
Type Electric
HP 60 80
Speed 110 130
Attack 90 110
Defense 55 75
Paralysis 0.25
EndMonster

Monster
Name Rondoudou
Type Normal
HP 115 145
Speed 20 35
Attack 45 60
Defense 20 35
EndMonster

Monster
Name Nosferapti
Type Normal
HP 40 55
Speed 55 75
Attack 45 60
Defense 35 50
EndMonster

Monster
Name Nosferalto
Type Normal
HP 75 105
Speed 80 105
Attack 80 105
Defense 60 90
EndMonster

Monster
Name Paras
Type Insect
HP 35 65
Attack 70 100
Speed 55 85
Defense 55 85
Poison 0.22
EndMonster

Monster
Name Parasect
Type Insect
HP 60 90
Attack 95 125
Speed 30 60
Defense 80 110
Poison 0.15
EndMonster

Monster
Name Mimitoss
Type Insect
HP 70 100
Attack 55 85
Speed 30 60
Defense 65 95
Poison 0.18
EndMonster

Monster
Name Aéromite
Type Insect
HP 65 95
Attack 90 120
Speed 40 70
Defense 40 70
Poison 0.17
EndMonster

Monster
Name Taupiqueur
Type Earth
HP 55 85
Attack 45 75
Speed 50 80
Defense 45 75
Hide 0.22
EndMonster

Monster
Name Triopikeur
Type Earth
HP 80 110
Attack 70 100
Speed 55 85
Defense 70 100
Hide 0.2
EndMonster

Monster
Name Miaouss
Type Normal
HP 40 60
Attack 45 65
Speed 90 110
Defense 40 60
EndMonster

Monster
Name Persian
Type Normal
HP 65 85
Attack 70 90
Speed 115 135
Defense 65 85
EndMonster

Monster
Name Psykokwak
Type Water
HP 50 70
Attack 52 72
Speed 55 75
Defense 50 70
Flood 0.1
Fall 0.04
EndMonster

Monster
Name Akwakwak
Type Water
HP 80 100
Attack 82 102
Speed 85 105
Defense 80 100
Flood 0.12
Fall 0.03
EndMonster

Monster
Name Ptitard
Type Water
HP 40 65
Speed 40 60
Attack 50 75
Defense 40 60
Flood 0.1
Fall 0.01
EndMonster

Monster
Name Têtarte
Type Water
HP 65 90
Speed 55 75
Attack 65 90
Defense 65 90
Flood 0.12
Fall 0.04
EndMonster

Monster
Name Tartard
Type Water
HP 90 115
Speed 70 95
Attack 85 110
Defense 95 120
Flood 0.15
Fall 0.04
EndMonster

Monster
Name Chétiflor
Type Plant
HP 50 75
Speed 30 45
Attack 65 80
Defense 45 60
Cure 0.1
EndMonster

Monster
Name Boustiflor
Type Plant
HP 65 90
Speed 45 60
Attack 80 95
Defense 60 75
Cure 0.12
EndMonster

Monster
Name Empiflor
Type Plant
HP 80 105
Speed 60 75
Attack 105 130
Defense 75 90
Cure 0.15
EndMonster

Monster
Name Tentacool
Type Water
HP 40 65
Speed 70 90
Attack 40 60
Defense 35 55
Flood 0.1
Fall 0.02
EndMonster

Monster
Name Tentacruel
Type Water
HP 80 105
Speed 90 110
Attack 70 85
Defense 65 80
Flood 0.15
Fall 0.03
EndMonster

Monster
Name Racaillou
Type Earth
HP 40 55
Speed 50 65
Attack 80 105
Defense 100 125
Hide 0.16
EndMonster

Monster
Name Gravalanch
Type Earth
HP 55 80
Speed 65 90
Attack 95 120
Defense 115 140
Hide 0.14
EndMonster

Monster
Name Grolem
Type Earth
HP 80 105
Speed 45 70
Attack 120 150
Defense 130 160
Hide 0.18
EndMonster

Monster
Name Ponyta
Type Fire
HP 50 65
Speed 90 115
Attack 85 110
Defense 55 80
Burn 0.25
EndMonster

Monster
Name Galopa
Type Fire
HP 65 80
Speed 105 130
Attack 100 125
Defense 70 95
Burn 0.23
EndMonster

Monster
Name Ramoloss
Type Water
HP 90 115
Speed 15 30
Attack 65 80
Defense 65 80
Flood 0.1
Fall 0.01
EndMonster

Monster
Name Flagadoss
Type Water
HP 95 120
Speed 30 45
Attack 85 100
Defense 95 110
Flood 0.12
Fall 0.04
EndMonster

Monster
Name Magnéti
Type Electric
HP 25 50
Speed 45 65
Attack 35 60
Defense 70 95
Paralysis 0.1
EndMonster

Monster
Name Magnéton
Type Electric
HP 50 75
Speed 70 90
Attack 60 85
Defense 95 120
Paralysis 0.15
EndMonster

Monster
Name Canarticho
Type Normal
HP 60 75
Speed 70 90
Attack 65 80
Defense 55 70
EndMonster

Monster
Name Doduo
Type Normal
HP 35 60
Speed 75 100
Attack 85 110
Defense 35 60
EndMonster

Monster
Name Dodrio
Type Normal
HP 60 85
Speed 90 115
Attack 110 135
Defense 60 85
EndMonster

Monster
Name Zapdos
Type Electric
HP 90 110
Speed 100 125
Attack 90 110
Defense 85 105
Paralysis 0.25
EndMonster

Monster
Name Joltik
Type Electric
HP 30 45
Speed 65 85
Attack 47 62
Defense 50 65
Paralysis 0.15
EndMonster

Monster
Name Otaria
Type Water
HP 65 90
Speed 45 60
Attack 45 65
Defense 45 65
Flood 0.1
Fall 0.02
EndMonster

Monster
Name Lamantine
Type Water
HP 90 115
Speed 65 80
Attack 65 85
Defense 80 100
Flood 0.12
Fall 0.02
EndMonster

Monster
Name Kokiyas
Type Water
HP 30 55
Speed 15 30
Attack 50 75
Defense 55 80
Flood 0.1
Fall 0.03
EndMonster

Monster
Name Crustabri
Type Water
HP 50 75
Speed 35 50
Attack 65 80
Defense 70 95
Flood 0.12
Fall 0.01
EndMonster

Monster
Name Onix
Type Earth
HP 35 60
Speed 45 70
Attack 45 70
Defense 85 110
Hide 0.14
EndMonster

Monster
Name Volcarona
Type Insect
HP 85 105
Attack 60 80
Speed 90 110
Defense 65 85
Poison 0.03
EndMonster

Monster
Name Scyther
Type Insect
HP 70 90
Attack 110 135
Speed 105 130
Defense 80 100
Poison 0.16
EndMonster

Monster
Name Pinsir
Type Insect
HP 65 85
Attack 125 150
Speed 85 105
Defense 90 110
Poison 0.24
EndMonster

Monster
Name Noeunoeuf
Type Normal
HP 60 85
Speed 40 55
Attack 40 55
Defense 60 75
EndMonster

Monster
Name Noadkoko
Type Normal
HP 95 120
Speed 55 70
Attack 95 110
Defense 85 100
EndMonster

Monster
Name Excelangue
Type Normal
HP 90 115
Speed 45 60
Attack 75 90
Defense 75 90
EndMonster

Monster
Name Jolteon
Type Electric
HP 65 85
Speed 110 130
Attack 65 85
Defense 60 80
Paralysis 0.2
EndMonster

Monster
Name Electabuzz
Type Electric
HP 65 85
Speed 105 130
Attack 83 103
Defense 57 77
Paralysis 0.18
EndMonster

Monster
Name Galvantula
Type Electric
HP 70 90
Speed 108 128
Attack 77 97
Defense 60 80
Paralysis 0.22
EndMonster

Monster
Name Scolipede
Type Insect
HP 60 80
Attack 100 120
Speed 112 132
Defense 89 109
Poison 0.18
EndMonster

Monster
Name Larvesta
Type Insect
HP 55 75
Attack 68 88
Speed 55 75
Defense 45 65
Poison 0.22
EndMonster
