Monster
Name        Bulbizarre
Type        Plant
HP          45 65
Speed       45 65
Attack      49 62
Defense     49 62
Cure      0.1
EndMonster

Monster
Name        Salamèche
Type        Fire
HP          39 58
Speed       65 85
Attack      52 78
Defense     43 65
Burn        0.15
EndMonster

Monster
Name        Dracaufeu
Type        Fire
HP          78 98
Speed       100 120
Attack      84 104
Defense     78 98
Burn        0.25
EndMonster

Monster
Name        Carapuce
Type        Water
HP          44 65
Speed       43 58
Attack      48 65
Defense     65 82
EndMonster

Monster
Name        Tortank
Type        Water
HP          79 99
Speed       78 98
Attack      85 105
Defense     100 120
EndMonster

Monster
Name        Pikachu
Type        Electric
HP          35 55
Speed       90 110
Attack      55 80
Defense     30 50
Paralysis   0.2
EndMonster

Monster
Name        Roucool
Type        Normal
HP          40 55
Speed       55 75
Attack      40 55
Defense     35 50
EndMonster

Monster
Name        Rattata
Type        Normal
HP          30 45
Speed       55 75
Attack      56 76
Defense     35 50
EndMonster

Monster
Name        Piafabec
Type        Normal
HP          40 55
Speed       60 80
Attack      35 50
Defense     30 45
EndMonster

Monster
Name        Rondoudou
Type        Normal
HP          115 145
Speed       20 35
Attack      45 60
Defense     20 35
EndMonster

Monster
Name        Nosferapti
Type        Normal
HP          40 55
Speed       55 75
Attack      45 60
Defense     35 50
EndMonster

Monster
Name        Krabby
Type        Water
HP          30 55
Speed       50 65
Attack      105 130
Defense     90 115
EndMonster

Monster
Name        Voltorbe
Type        Electric
HP          40 60
Speed       55 75
Attack      30 45
Defense     50 65
EndMonster

Monster
Name        Paras
Type        Insect
HP          35 55
Speed       25 40
Attack      70 85
Defense     55 70
EndMonster

Monster
Name        Aéromite
Type        Insect
HP          70 85
Speed       55 70
Attack      65 80
Defense     75 90
EndMonster

Monster
Name        Osselait
Type        Earth
HP          50 75
Speed       35 50
Attack      65 90
Defense     50 75
EndMonster

Monster
Name        Grolem
Type        Earth
HP          80 105
Speed       45 70
Attack      120 150
Defense     130 160
EndMonster

Monster
Name        Taupiqueur
Type        Earth
HP          10 35
Speed       95 120
Attack      55 80
Defense     25 50
EndMonster

Monster
Name        Racaillou
Type        Nature
HP          40 55
Speed       50 65
Attack      80 105
Defense     100 125
EndMonster

Monster
Name        Ponyta
Type        Fire
HP          50 65
Speed       90 115
Attack      85 110
Defense     55 80
EndMonster

Monster
Name        Férosinge
Type        Nature
HP          40 65
Speed       70 95
Attack      50 75
Defense     35 60
EndMonster

Monster
Name        Rattatac
Type        Nature
HP          55 80
Speed       97 122
Attack      81 106
Defense     60 85
EndMonster

Monster
Name        Caninos
Type        Nature
HP          55 70
Speed       50 65
Attack      70 95
Defense     50 75
EndMonster